@model Air_Skypiea.Data.Entities.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <partial name="_FlightDetails" />    
</div>

<div>
     <a asp-action="AddCategory" asp-route-id="@Model?.Id" class="btn btn-outline-secondary">Adicionar Categoría</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar Vuelo</a>
    <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
</div>

